.card {
    width: 15rem;
    /* margin-right: 1.5rem; */
    margin-bottom: 1.5rem;
    cursor: pointer;
}


.poster img {
    width: 15rem;
}

.vote {
    color: red;


}

/* 
.card:hover {
    background-color: gray;
    transition: 3s;
} */