* {
    margin: 0;
    padding: 0;
}


.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;


}

.search-box {
    font-size: 40px;
    text-align: center;
    background-color: rgb(134, 234, 234);
    border: 1px solid black;
    margin-bottom: 5px;
}

.search-box input {
    font-size: 20px;
    width: 20rem;
    height: 2rem;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 15px;
}